<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Context" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&#xD;&#xA;         &quot;server=184.173.23.18;User Id=site_;password=132631;Persist Security Info=True;database=fip_&quot;" providerName="System.Data.EntityClient" />
    <remove name="LocalMySqlServer" />
    <add name="LocalMySqlServer" connectionString="Use Affected Rows=True;database=fip_;Default Command Timeout=15;server=184.173.23.18;password=132631;User Id=site_;Persist Security Info=True" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.web>
    <roleManager defaultProvider="MySQLRoleProvider" />
    <membership defaultProvider="MySQLMembershipProvider">
      <providers>
        <remove name="MySQLMembershipProvider" />
        <add name="MySQLMembershipProvider" type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web, Version=6.4.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" applicationName="Website/Settings" description="MySQL default application" connectionStringName="LocalMySqlServer" writeExceptionsToEventLog="False" autogenerateschema="False" enablePasswordRetrieval="False" enablePasswordReset="True" requiresQuestionAndAnswer="True" requiresUniqueEmail="True" passwordFormat="Encrypted" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <authentication mode="Forms"  />
    <compilation debug="true" targetFramework="4.0" />
    <pages>
      <controls>
        <add tagPrefix="ajax" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <identity impersonate="false" />
  </system.web>
  <system.webServer>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="suporte@fip24hr.com.br">

          <network host="webmail.fip24hr.com.br" enableSsl="false" defaultCredentials="true"    userName="SAC@fip24hr.com.br" port="25"  password="F1P42" targetName="SAC"/>
      </smtp>
        
    </mailSettings>

  </system.net>
</configuration>