<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="Context" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=184.173.23.18;User Id=site_;password=132631;Persist Security Info=True;database=FIP_&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>