<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

    <connectionStrings>
        <clear/>

        <add name="ContextMySQL" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=184.173.23.18;User Id=site_;password=132631;Persist Security Info=True;database=FIP_&quot;"        providerName="System.Data.EntityClient" />

        <add name="Context" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=50.97.180.146;initial catalog=FIP_;persist security info=True;user id=site_;password=132631;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


        <add name="ConexaoSqlProvider" connectionString="data source=50.97.180.146;initial catalog=FIP_;persist security info=True;user id=site_;password=132631" providerName="System.Data.SqlClient"/>


    </connectionStrings>


    <system.web>

        <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="20">
            <providers>
                <clear/>
                <add name="SqlProvider"
                  type="System.Web.Security.SqlMembershipProvider"
                  connectionStringName="ConexaoSqlProvider"
                  enablePasswordRetrieval="false"
                  enablePasswordReset="true"
                  requiresQuestionAndAnswer="true"
                  passwordFormat="Hashed"
                  applicationName="/" />

            </providers>

        </membership>

        <roleManager enabled="true" defaultProvider="SqlRoleProvider">
            <providers>
                <clear />
                <add connectionStringName="ConexaoSqlProvider" applicationName="/"
                    name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
            </providers>
        </roleManager>
      

      
        <authentication mode="Forms" />
        <compilation debug="true" targetFramework="4.0" />
        <pages>
            <controls>
                <add tagPrefix="ajax" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
            </controls>
        </pages>
        <identity impersonate="false" />
    </system.web>

    <system.net>
        <mailSettings>
            <smtp from="suporte@fip24hr.com.br">

                <network host="webmail.fip24hr.com.br" enableSsl="false" defaultCredentials="true"    userName="SAC@fip24hr.com.br" port="25"  password="F1P42" targetName="SAC"/>
            </smtp>

        </mailSettings>

    </system.net>
</configuration>